* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rampart One', cursive;
}

@font-face {
  font-family: 'myfont';
  src: url('./src/DSEG7Classic-Regular.woff') format('woff');
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}

.add-countdown {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 11vh;
  opacity: 0;
  pointer-events: none;
}

.app-container {
  width: 50vh;
  height: 90vh;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 15px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-container {
  margin: 100px;
}

.objects {
  position: relative;
  display: flex;
}

.shelf {
  position: relative;
}

.wood {
  background-color: #a95219;
  width: 390px;
  height: 25px;
  font-weight: bold;
  padding-right: 16px;
  text-align: end;
}

.wood-support {
  background-color: #321b04;
  width: 20px;
  height: 25px;
  position: absolute;
}

.wood-support-left {
  margin-left: 30px;
}

.wood-support-right {
  margin-left: 340px;
}

.clock {
  position: relative;
  margin-left: 35px;
}

.clock-body {
  background: linear-gradient(
    159deg,
    rgba(40, 38, 38, 1) 51%,
    rgba(0, 0, 0, 1) 51%
  );
  position: absolute;
  width: 170px;
  height: 54px;
  border-radius: 10px;
  z-index: 1;
  bottom: 0;
}

.background-text {
  position: absolute;
  font-family: myfont;
  z-index: 1;
  color: #df2f2f40;
  font-size: 25px;
  bottom: 13px;
  left: 19px;
}

.clock-time {
  z-index: 2;
  color: red;
}

.calendar {
  position: absolute;
  bottom: 0;
  left: 192px;
}

.white-paper {
  background-color: white;
  border-right: 15px solid #d9dfdf;
  width: 110px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.red-paper {
  width: 110px;
  height: 20px;
  border-right: 15px solid #c1392b;
  background-color: #e64d3d;
}

.circles {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 90px;
  bottom: 88px;
  left: 5px;
}

.circle {
  aspect-ratio: 1;
  width: 27px;
  border: 4px solid black;
  border-radius: 50%;
}

.circle::before {
  content: '';
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  top: 11px;
  left: 9px;
  background-color: #e64d3d;
}

.calendar-text {
  color: black;
  font-size: 33px;
  font-family: 'Staatliches', cursive;
  text-align: center;
}

.plant {
  position: absolute;
  bottom: 0;
  right: 77px;
}

.pot {
  position: relative;
  bottom: -10px;
  width: 30px;
  border-top: 60px solid #321b04;
}

.pot-left {
  border-top: 40px solid #362009;
  border-left: 10px solid transparent;
  bottom: -40px;
}

.pot-right {
  border-top: 40px solid #2e1d0a;
  border-right: 10px solid transparent;
  left: 30px;
  bottom: 0;
}

.tulpin {
  position: absolute;
  bottom: 40px;
  left: 29px;
  width: 3px;
  height: 58px;
  background-color: #23a523;
  border-radius: 5px 5px 0 0;
}

.leaf-left {
  position: absolute;
  border-radius: 0% 100%;
  aspect-ratio: 1;
  width: 26px;
  background-color: #166c16;
  bottom: 49px;
  left: 4px;
}

.leaf-right {
  position: absolute;
  border-radius: 100% 0%;
  aspect-ratio: 1;
  width: 23px;
  background-color: #166c16;
  bottom: 71px;
  left: 32px;
}

.fa-times {
  position: relative;
  left: 356px;
  bottom: 70px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.fa-times:hover {
  color: #c1392b;
}

.modal {
  width: 42vh;
  height: 24vh;
  padding-top: 20px;
  box-shadow: 0 0 10px black;
  position: absolute;
  background-color: #000000e6;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  opacity: 0;
  transition: all ease 0.5s;
}

input {
  width: 23vh;
  height: 4vh;
  text-align: center;
  outline: none;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.date {
  padding-left: 40px;
}

.message {
  margin-top: 20px;
}

.far {
  color: white;
  font-size: 20px;
  margin-top: 16px;
  cursor: pointer;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.time {
  padding-left: 23px;
  margin-top: 20px;
}
